<div class="banner-mask">
</div>

<div class="banner-image" style="background:url(welcome/suit.jpg) right no-repeat; background-size:cover">
</div>

<div class="banner-title">
  <h1>Welcome to BCA club</h1>
  <%= link_to('立即注册', "#{}", class: "btn btn-lg btn-default")  %>
</div>
