<div class="section-services">
  <h2>WHY JOIN US?</h2>
  <div class="col-md-4">
    <span class="fa-stack fa-4x">
      <i class="fa fa-circle fa-stack-2x text-primary"></i>
      <i class="fa fa-laptop fa-stack-1x fa-inverse"></i>
    </span>
    <div class="service-font">
      <h3>每周分享</h3>
      <p>
        每周区块链界的大牛进行知识分享，众多干货让您对区块链趋势了如指掌。
      </p>
    </div>
  </div>

  <div class="col-md-4">
    <span class="fa-stack fa-4x">
      <i class="fa fa-circle fa-stack-2x text-primary"></i>
      <i class="fa fa-cubes fa-stack-1x fa-inverse"></i>
    </span>
    <div class="service-font">
      <h3>ICO项目</h3>
      <p>
        专业ICO项目考察团队为您甄选真正靠谱的项目，让您的投资不在盲目（社群成员享有专属ICO名额）。
      </p>
    </div>
  </div>

  <div class="col-md-4">
    <span class="fa-stack fa-4x">
      <i class="fa fa-circle fa-stack-2x text-primary"></i>
      <i class="fa fa-coffee fa-stack-1x fa-inverse"></i>
    </span>
    <div class="service-font">
      <h3>聚会活动</h3>
      <p>
        线上抽选周边礼品，线下组织聚会，让你体会一个社群应有的温暖。
      </p>
    </div>
  </div>
</div>
